<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.cache.common.dao.StudentMapper">

    <select id="getStudents" resultType="Student">
        SELECT * FROM student
    </select>

    <insert id="addStudent" parameterType="Student">
        INSERT INTO student(id,name,mobile,sex) VALUES (#{id}, #{name},#{mobile},#{sex});
    </insert>

</mapper>